.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-container {
    flex: 1;
}

#search-form {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}

.card-content {
  height: 130px;
}

.level-item span.meta {
    margin-left: 5px !important;
}

input[type=search] {
    margin-bottom: 40px;
}
.filters form .field {
    margin-top: 30px;
}