<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Extensions</title>
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body class="site baner has-background-light">
    <main class="site-container" id="app">
      <section>
        <div class="log-flask-extension">
        </div>
        <div class="hero-head bk-null">
          <nav class="navbar bk-null">
            <div class="container">
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <span class="navbar-item">
                    <a
                      class="button is-info is-inverted"
                      href="https://github.com/flask-extensions/flaskextensions.com"
                      target="_blank"
                    >
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>
                      <span>Source Code</span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="columns is-centered" id="search-form">
              <div class="column is-8-desktop is-12-mobile">
                <div class="field has-addons">
                  <input
                    type="search"
                    placeholder="Search extensions e.g: login"
                    class="input is-medium"
                    v-model="term"
                    v-on:keyup.enter="search"
                  />
                </div>
              </div>
              <div class="column is-full-mobile is-2-desktop">
                <div class="field has-addons">
                  <button
                    class="is-info is-inverted is-outlined button is-medium"
                    @click="search"
                  >
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                    &nbsp;&nbsp; Search
                  </button>
                </div>
              </div>
            </div>
            <div class="columns img-heros">
              <div class="column is-7">
                <img src="./img/hero.png" alt="Hero Baner" sizes="80%" />
              </div>
              <div
                class="column info-hero has-text-centered has-text-white-ter"
                style="margin-top: 100px;"
              >
                <h1>Find the Flask extension</h1>
                <h1>you need for your</h1>
                <h1>Python project.</h1>
                <br />
                <h2 class="subtitle has-text-white-ter subtitle-hero">
                  Add
                  <a
                    class="has-text-light subtitle-hero"
                    href="https://github.com/topics/flask-extension"
                    target="_blank"
                    ><em>flask-extension</em></a
                  >
                  topic to a repository to get it listed
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section top-status bk-null">
        <div class="container">
          <div class="columns">
            <div class="column is-expanded has-text-info">
              <p class="is-size-4">Total Results: {{result.page.total!=0 ? result.page.total : result.items.length}}</p>
            </div>
            <div class="control has-icons-left">
              <div class="select">
                <select ref="selectShort" v-on:change="changeShort" >
                  <option value="name">Name</option>
                  <option value="stars" selected>Stars</option>
                  <option value="forks">Forks</option>
                </select>
              </div>
              <span class="icon is-left">
                <i class="fas fa-sort-amount-down"></i>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="section bk-null">
        <div class="container">
          <div class="columns filters">
            <div class="column">
              <div class="columns is-multiline">
                <div
                  class="column is-one-quarter"
                  v-for="extension in result.items"
                  :key="extension.id"
                >
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title is-uppercase">
                        {{ extension.name }}
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="column description">
                        {{ extension.description | truncate }}
                      </div>
                      <div class="columns">
                        <div class="column is-5">
                          <span class="icon">
                            <i class="fas fa-star"></i>
                          </span>
                          {{ extension.stargazers_count }}
                        </div>
                        <div class="column is-7">
                          <span class="icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          {{ extension.created_at }}
                        </div>
                      </div>
                      <div class="columns">
                        <div class="column is-5">
                          <span class="icon">
                            <i class="fas fa-code-branch"></i>
                          </span>
                          {{ extension.forks_count}}
                        </div>
                        <div class="column is-7">
                          <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                          </span>
                          {{ extension.updated_at}}
                        </div>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a
                        :href="extension.html_url"
                        target="_blank"
                        class="card-footer-item has-icons-left left"
                      >
                        <span class="icon">
                          <i class="fab fa-github"></i>
                        </span>
                        Github
                      </a>
                      <a
                        :href="`https://stackoverflow.com/search?q=flask+${extension.name}`"
                        target="_blank"
                        class="card-footer-item has-icons-left right"
                      >
                        <span class="icon">
                          <i class="fab fa-stack-overflow"></i>
                        </span>
                        Discussion
                      </a>
                    </footer>
                  </div>
                </div>

                <div class="column is-full">
                  <nav
                    class="pagination is-centered"
                    role="navigation"
                    aria-label="pagination"
                  >
                    <a
                      class="pagination-previous"
                      :disabled="!result.page.previous"
                      @click="paginate(result.page.previous)"
                      >Previous</a
                    >
                    <a
                      class="pagination-next is-primary"
                      :disabled="!result.page.next"
                      @click="paginate(result.page.next)"
                      >Next page</a
                    >

                    <ul class="pagination-list">
                      <li>
                        Page {{ result.page.page }} /
                        {{result.page.total!=0 ? Math.ceil(result.page.total / 12) : "1"}}
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="section">
        <div class="container">
          <nav class="navbar has-navbar-fixed-bottom has-background-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              &nbsp;&nbsp;
              <a class="navbar-item" href="#">
                <img src="./img/FlaskBlack.png" height="28">&nbsp;
                <img src="./img/Extension.png" height="28">
              </a>
            </div>
          
            <div class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="http://twitch.tv/codeshow">
                  Made with ❤️ and 🍺 online at CodeShow
                </a>
                </div>
              </div>
          
              <div class="navbar-end">
                <span class="navbar-item">
                  <a
                    class="button is-info is-inverted"
                    href="https://github.com/flask-extensions/flaskextensions.com"
                    info="https://github.com/flask-extensions/flaskextensions.com"
                    target="_blank"
                  >
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a
                    class="button is-info is-inverted"
                    href="https://twitter.com/codeshowbr"
                    info="https://twitter.com/codeshowbr"
                    target="_blank"
                  >
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a
                    class="button is-info is-inverted"
                    href="http://twitch.tv/codeshow"
                    info="http://twitch.tv/codeshow"
                    target="_blank"
                  >
                    <span class="icon">
                      <i class="fab fa-twitch"></i>
                    </span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a
                    class="button is-info is-inverted"
                    href="./about.html"                    
                  >About &nbsp;&nbsp;
                    <span class="icon">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
