<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flask Extensions</title>
  <link rel="stylesheet" href="/bulma.css" />
  <link rel="stylesheet" href="/custom.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="site">
  <main class="site-container" id="app">
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-spaced has-text-black">Flask Extensions</h1>
          <h2 class="subtitle has-text-black">Curated list of Flask Extensions</h2>
          <div class="columns is-centered" id="search-form">
            <div class="column is-8-desktop is-12-mobile">
              <div class="field has-addons">
                <input type="search" placeholder="Insert a extension title" class="input is-large" v-model="term"
                  v-on:keyup.enter="search">
              </div>
            </div>
            <div class="column is-full-mobile is-2-desktop">
              <div class="field has-addons">
                <button class="is-primary is-outlined button is-large is-inverted" @click="search">SEARCH</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-expanded">
            <p class="is-size-4">Results: 1 </p>
          </div>
          <div class="column is-3">
            <div class="select is-rounded is-fullwidth">
              <select name="" id="">
                <option value="">Topics</option>
                <option value="">Topics</option>
                <option value="">Topics</option>
                <option value="">Topics</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns filters">
          <div class="column">
            <div class="columns is-multiline">
              <div class="column is-one-quarter" v-for="extension in result.items" :key="extension.id">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">
                      {{ extension.name }}
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      {{ extension.description | truncate }}
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a href="#" class="card-footer-item has-icons-left">
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>                  
                      Github
                    </a>
                    <a href="#" class="card-footer-item has-icons-left">
                      <span class="icon">
                        <i class="fab fa-stack-overflow"></i>
                      </span>                  
                      Stack
                    </a>
                    <a href="#" class="card-footer-item has-icons-left">
                      <span class="icon">
                        <i class="fas fa-file"></i>
                      </span>                  
                      docs
                    </a>

                  </footer>
                </div>
              </div>

              <div class="column is-full">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  <a class="pagination-previous" :disabled="!result.page.previous"
                    @click="paginate(result.page.previous)">Previous</a>
                  <a class="pagination-next" :disabled="!result.page.next" @click="paginate(result.page.next)">Next
                    page</a>

                  <ul class="pagination-list">
                    <li>Page {{ result.page.page}} / {{result.page.total}}</li>
                  </ul>
                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="section">
      <p class="has-text-centered">Flask Extension Footer</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const instance = axios.create({
      baseURL: 'http://localhost:8000/',
    });

    new Vue({
      el: "#app",
      data: {
        result: {},
        term: ""
      },
      async mounted() {
        const resp = await instance.get('extension/')
        this.result = resp.data
      },
      filters: {
        truncate: function(text) {
          if(text.length > 80 )
            return text.substring(0, 80) + " [...]"
          return text;
        }
      },
      methods: {
        async search() {
          const resp = await instance.get(`extension/?query=${this.term}`)
          this.result = resp.data
        },
        async paginate(paginate_to) {
          const resp = await instance.get(
            'extension/',
            {
              params: {
                page: paginate_to,
                per_page: this.result.page.page_size,
                query: this.term
              }
            }
          )
          this.result = resp.data
        }
      }
    });
  </script>

</body>

</html>